<form action="tickets/buyTicket" method="POST">
    <table>
        <thead>
            <tr>
                <th>Nome do Ticket</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Selecionar</th>
            </tr>
        </thead>
        <tbody>
            {{#items}}
            <tr>
                <td>{{name}}</td>
                <td>{{price}}</td>
                <td>{{quantity}}</td>
                <td>
                    <input type="hidden" name="tickets[{{id}}][id]" value="{{id}}" />
                    <input 
                        type="number" 
                        name="tickets[{{id}}][quantity]" 
                        min="0" 
                        max="{{quantity}}" 
                        placeholder="Quantidade" 
                    />
                </td>
            </tr>
            {{/items}}
        </tbody>
    </table>

    <button type="submit">Comprar Tickets</button>
</form>

<a href="/main-page-user">
    <button type="button">Voltar</button>
</a>