<html>
    <head>
        <title>Erro</title>
    </head>

    <body>
        <h1>{{erro}}</h1>

        <form action="{{route}}" method="GET">
            <button type="submit">Voltar</button>
        </form>
    </body>
</html>
