<html>
<head>
    <title>Página Inicial - Usuário</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/styles-login.css">
</head>
<body>
    <div class="container">
        <h1>Tela Principal</h1>
        
        <a href="/tickets">
            <button type="button">Comprar Tickets</button>
        </a>

        <a href="/search-tickets-name">
            <button type="button">Procurar Tickets - Nome</button>
        </a>

        <a href="/search-tickets-price">
            <button type="button">Procurar Tickets - Preço</button>
        </a>

        <a href="/tickets/myTickets">
            <button type="button">Meus Tickets</button>
        </a>

        <a href="/">
            <button type="button">Sair</button>
        </a>
    </div>
</body>
</html>
