<html>
<head>
    <title>Página Inicial - Asministrador</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/styles-login.css">
</head>
<body>
    <div class="container">
        <h1>Tela Principal</h1>
        
        <a href="/comprar-tickets">
            <button type="button">Comprar Tickets</button>
        </a>

        <a href="/procurar-tickets">
            <button type="button">Procurar Tickets</button>
        </a>
        
        <a href="/meus-tickets">
            <button type="button">Meus Tickets</button>
        </a>

        <a href="/criar-tickets">
            <button type="button">Criar Tickets</button>
        </a>

        <a href="/atualizar-tickets">
            <button type="button">Atualizar Tickets</button>
        </a>

        <a href="/deletar-tickets">
            <button type="button">Deletar Tickets</button>
        </a>

        <a href="/ver-usuarios">
            <button type="button">Ver Usuários</button>
        </a>

        <a href="/atualizar-usuario">
            <button type="button">Atualizar Usuário</button>
        </a>

        <a href="/deletar-usuario">
            <button type="button">Deletar Usuário</button>
        </a>

        <a href="/">
            <button type="button">Sair</button>
        </a>
    </div>
</body>
</html>
