<table>
    <thead>
         <tr>
            <th>Nome do Ticket</th>
            <th>Preço</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        {{#items}}
        <tr>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{quantity}}</td>
        </tr>
        {{/items}}
    </tbody>
</table>

<a href="/main-page-user">
    <button type="button">Voltar</button>
</a>
