<html>
    <head>
        <title>Rota não encontrada</title>
    </head>

    <body>
        <h1>Rota não encontrada ou não existente!</h1>

        <form action="/" method="GET">
            <button type="submit">Voltar</button>
        </form>
    </body>
</html>
