<form action="tickets/types" method="GET">
    <label for="ticketName">Nome do Ticket:</label>
    <input type="text" id="ticketName" name="ticketName" placeholder="Digite o nome do ticket" required>
    <button type="submit">Procurar Tickets</button>
</form>

<a href="/main-page-user">
    <button type="button">Voltar</button>
</a>
