<form action="tickets/price" method="GET">
    <label for="ticketPrice">Preço do Ticket:</label>
    <input type="number" id="ticketPrice" name="ticketPrice" placeholder="Digite o preço do ticket" required>
    <button type="submit">Procurar Tickets</button>
</form>

<a href="/main-page-user">
    <button type="button">Voltar</button>
</a>
