<html>
<head>
    <title>Atualizar Usuário</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/styles-login.css">
</head>
<body>
    <div class="container">
        <h1>Atualizar Usuário</h1>

        <form action="users/updateUser" method="POST">
            <input type="text" name="name" placeholder="Nome" required>
            <input type="text" name="email" placeholder="Email" required>
            <input type="text" name="username" placeholder="Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
        
            <div class="radio-group">
                <label>
                    <input type="radio" name="isAdm" value="true" required checked>
                    Administrador
                </label>
                <label>
                    <input type="radio" name="isAdm" value="false" required>
                    Usuário Comum
                </label>
            </div>

            <button type="submit">Atualizar</button>
        </form>

        <a class="link" href="/main-page-admin">Voltar</a>
    </div>
</body>
</html>
